[submodule "FrontReact"]
	path = recursos-humanos-app
	url = https://github.com/ShanderSandoval/recursos-humanos-app.git
[submodule "BackJava"]
	path = recursos-humanos-spring
	url = https://github.com/ShanderSandoval/recursos-humanos-spring.git
